apiVersion: apps/v1
kind: Deployment
metadata:
  name: rag-platform
  namespace: rag-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rag-platform
  template:
    metadata:
      labels:
        app: rag-platform
    spec:
      nodeSelector:
        kubernetes.io/hostname: ankur-hp-z440-workstation
      containers:
        - name: rag-platform
          image: rag-platform:v0.3
          imagePullPolicy: Never
          ports:
            - containerPort: 8000

          envFrom:
            - configMapRef:
                name: rag-config

          resources:
            requests:
              cpu: "2"
              memory: "6Gi"
            limits:
              cpu: "4"
              memory: "8Gi"

          volumeMounts:
            - name: model-volume
              mountPath: /models
              readOnly: true
            - name: data-volume
              mountPath: /data

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 30

          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 15

      volumes:
        - name: model-volume
          hostPath:
            path: /mnt/models
            type: Directory
        - name: data-volume
          hostPath:
            path: /mnt/data
            type: Directory